<div class="page page-products pull-to-header">

    <ol class="breadcrumb bg-white">
        <li><a ui-sref="dashboard">{{'Menu.DASHBOARD'|translate}}</a></li>
        <li><a ui-sref="user.index">{{'Operation.LIST_OF'|translate}} {{'Table.USER'|translate}}s</a></li>
        <li class="active">{{"Operation.CLONE_FORM"|translate}} : {{"Table.USER"|translate}}</li>
    </ol>
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-md-12">

            <!-- tile -->
            <div class="tile tile-simple">
                <!-- tile header -->
                <section class="tile-header">
                    <h1 class="heading">{{"Operation.EDIT_FORM"|translate}} : {{'Table.USER'|translate}}</h1>
                    <div class="controls">
                        <a ng-click="ctrl.find()" class="icon icon-primary icon-ef-2 icon-ef-2a" uib-tooltip="{{'Operation.REFRESH'|translate}}" tooltip-placement="bottom"><i class="fa fa-refresh"></i></a>
                        <a ui-sref="user.index" uib-tooltip="{{'Operation.GOTO_LIST_OF'|translate}} {{'Table.USER'|translate}}s" tooltip-placement="bottom" class="icon icon-default icon-ef-2 icon-ef-2b hover-color"><i class="fa fa-list"></i></a>
                        <div class="btn-group" uib-dropdown>
                            <p>
                                <a uib-dropdown-toggle class="icon icon-info icon-ef-6 icon-color"><i class="fa fa-cog"></i></a>
                            <ul class="dropdown-menu dropdown-menu-custom" uib-dropdown-menu role="menu">
                                <li role="menuitem"><a href="javascript:;" minotaur-tile-minimize></a></li>
                                <li role="menuitem"><a href="javascript:;" minotaur-tile-fullscreen></a></li>
                                <li role="menuitem"><a href="javascript:;" minotaur-tile-lightbox></a></li>
                            </ul>
                            </p>
                        </div>
                        <minotaur-tile-close></minotaur-tile-close>
                    </div>
                </section>
                <!-- /tile header -->
                <!-- tile body -->
                <section class="tile-body">
                    <form name="ctrl.form" class="form-horizontal form-validation" role="form" ng-submit="ctrl.clone()">                                            <div class="form-group">
                            <label for="prenom" class="col-sm-3 control-label minotaur-label">{{ "user.PRENOM"|translate }} <span class="text-danger" style="font-size: 15px;">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="prenom" class="form-control" id="prenom" placeholder="{{ 'user.PRENOM'|translate }}..." ng-model="ctrl.user.prenom" required>
                            </div>
                        </div>                                            <div class="form-group">
                            <label for="nom" class="col-sm-3 control-label minotaur-label">{{ "user.NOM"|translate }} <span class="text-danger" style="font-size: 15px;">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="nom" class="form-control" id="nom" placeholder="{{ 'user.NOM'|translate }}..." ng-model="ctrl.user.nom" required>
                            </div>
                        </div>                                            <div class="form-group">
                            <label for="dateNaissance" class="col-sm-3 control-label minotaur-label">{{ "user.DATENAISSANCE"|translate }} <span class="text-danger" style="font-size: 15px;">*</span></label>
                            <div class="col-sm-9">
                                <div class="input-group w-md" ng-controller="DatepickerController as datepicker">
                                    <div style="display:inline-block; min-height:240px;">
                                        <div uib-datepicker ng-model="ctrl.user.dateNaissance" required="required" class="well well-sm" datepicker-options="datepicker.options"></div>
                                    </div>
                                </div>
                            </div>
                        </div>                                            <div class="form-group">
                            <label for="adresse" class="col-sm-3 control-label minotaur-label">{{ "user.ADRESSE"|translate }} <span class="text-danger" style="font-size: 15px;">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="adresse" class="form-control" id="adresse" placeholder="{{ 'user.ADRESSE'|translate }}..." ng-model="ctrl.user.adresse" required>
                            </div>
                        </div>                                            <div class="form-group">
                            <label for="telephone" class="col-sm-3 control-label minotaur-label">{{ "user.TELEPHONE"|translate }} <span class="text-danger" style="font-size: 15px;">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="telephone" class="form-control" id="telephone" placeholder="{{ 'user.TELEPHONE'|translate }}..." ng-model="ctrl.user.telephone" required>
                            </div>
                        </div>                        <div class="form-footer">
                            <i class="fa fa-spinner fa-pulse fa-fw" ng-if="ctrl.processing"></i>
                            <button class="btn btn-lightred minotaur-btn colored" ui-sref="user.index" ng-disabled="ctrl.processing"><i class="fa fa-arrow-left"></i> {{"Operation.CANCEL"|translate}}</button>
                            <button type="submit" class="btn btn-success minotaur-btn pull-right" ng-disabled="ctrl.form.$invalid || ctrl.processing">{{"Operation.SAVE"|translate}}</button>
                        </div>
                    </form>
                </section>
                <!-- /tile body -->
            </div>
            <!-- /tile -->
        </div>
        <!-- /col -->

    </div>
    <!-- /row -->

</div>